<ActionBar class="action-bar" style="height:200px;">
    <StackLayout class="action-bar-title" width="100%"orientation="horizontal">
        <Label row="0" text="Contacts" verticalAlignment="top" *ngIf="!activated"></Label>
        <TextField *ngIf="activated" row="1" col="0" hint="Enter phone" 
        [(ngModel)]='user' 
        secure="false"
        keyboardType="email"
        returnKeyType="done" 
        autocorrect="false"
        maxLength="30"
        (returnPress)="filtere()" 
        class="number"></TextField> 
        <Label row="0" text="&#xe986;" class="icon" (tap)="search()"></Label>
    </StackLayout>
    
</ActionBar>

<ScrollView  > 
    <StackLayout (loaded)="getSize($event)" >
        <ListView [items]="cnts"   flexGrow="1" height="{{heights}}"  > 
            <ng-template let-contact="item" let-question="item.user.charAt(0)"  >
               
                <StackLayout orientation="horizontal" class="chat-item"  >
                   
                       
                    <Image class="contactpic"  [src]="contact.thumbnail"></Image>
                    
                    <Label class="contact-text"  [text]="contact.user"></Label>
                    <Button [text]="contact.extension" (tap)="onTap($event,contact.contact_id)" class="btn  cp" ></Button>
                    
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</ScrollView>
