<ActionBar class="action-bar">
    <StackLayout class="action-bar-title">
        <Label text="History"></Label>
    </StackLayout>
</ActionBar>

<GridLayout class="page "  style="margin-top:10px;" colums="*" rows="54,54,54,54,54,54">
    
   
    <GridLayout row="0" columns="59, *, 75,30" height="54" rows="54" class="listcontactos">

        <GridLayout col="0" rows="auto" class="">
           
            <StackLayout class="contactpic"></StackLayout>
           
        </GridLayout>
        <GridLayout col="1" rows="*,*" class="columncontactos">
            <Label row="0" text="Hugh Hector" class="label bold"></Label>
            <Label row="1" text="&#xe914;" class="icon"></Label><Label row="1" text="Incoming" class="label textok"></Label>
        </GridLayout>
        <GridLayout col="2" rows="*" class="columncontactos">
            <Label row="0" col="0" text="Today" class="label " textWrap="true" style="vertical-align:center; text-align: center; "></Label>
            
        </GridLayout>
        <GridLayout col="3" rows="*" class="columncontactos">
            <Label row="0" col="0" text="&#xea0c;" class="icon info" (tap)="onTap($event)"></Label>
            
        </GridLayout>
    </GridLayout>
   
   
    <GridLayout row="1" columns="59, *, 75,30" height="54" rows="54" class="listcontactos">

        <GridLayout col="0" rows="auto" class="">
           
            <StackLayout class="contactpicb"></StackLayout>
           
        </GridLayout>
        <GridLayout col="1" rows="*,*" class="columncontactos">
            <Label row="0" text="Matilda" class="label bold"></Label>
            <Label row="1" text="&#xe942;" class="icon"></Label><Label row="1" text="Outgoing" class="label textok"></Label>
        </GridLayout>
        <GridLayout col="2" rows="*" class="columncontactos">
            <Label row="0" col="0" text="yesterday" class="label " textWrap="true" style="vertical-align:center; text-align: center; "></Label>
            
        </GridLayout>
        <GridLayout col="3" rows="*" class="columncontactos">
            <Label row="0" col="0" text="&#xea0c;" class="icon info" (tap)="onTap()"></Label>
            
        </GridLayout>
    </GridLayout>
    <GridLayout row="2" columns="59, *, 75,30" height="54" rows="54" class="listcontactos">

            <GridLayout col="0" rows="auto" class="">
               
                <StackLayout class="contactpicc"></StackLayout>
               
            </GridLayout>
            <GridLayout col="1" rows="*,*" class="columncontactos">
                <Label row="0" text="Teresa Lisbon" class="label bold"></Label>
                <Label row="1" text="&#xe942;" class="icon"></Label><Label row="1" text="Incoming" class="label textok"></Label>
            </GridLayout>
            <GridLayout col="2" rows="*" class="columncontactos">
                <Label row="0" col="0" text="yesterday" class="label " textWrap="true" style="vertical-align:center; text-align: center; "></Label>
                
            </GridLayout>
            <GridLayout col="3" rows="*" class="columncontactos">
                <Label row="0" col="0" text="&#xea0c;" class="icon info" (tap)="onTap()"></Label>
                
            </GridLayout>
        </GridLayout>
        <GridLayout row="3" columns="59, *, 75,30" height="54" rows="54" class="listcontactos">

                <GridLayout col="0" rows="auto" class="">
                   
                    <StackLayout class="contactpicd"></StackLayout>
                   
                </GridLayout>
                <GridLayout col="1" rows="*,*" class="columncontactos">
                    <Label row="0" text="Hugh Hector" class="label bold"></Label>
                    <Label row="1" text="&#xe914;" class="icon"></Label><Label row="1" text="Incoming" class="label textok"></Label>
                </GridLayout>
                <GridLayout col="2" rows="*" class="columncontactos">
                    <Label row="0" col="0" text="yesterday" class="label " textWrap="true" style="vertical-align:center; text-align: center; "></Label>
                    
                </GridLayout>
                <GridLayout col="3" rows="*" class="columncontactos">
                    <Label row="0" col="0" text="&#xea0c;" class="icon info" (tap)="onTap()"></Label>
                    
                </GridLayout>
            </GridLayout>
            <GridLayout row="3" columns="59, *, 75,30" height="54" rows="54" class="listcontactos">

                    <GridLayout col="0" rows="auto" class="">
                       
                        <StackLayout class="contactpice"></StackLayout>
                       
                    </GridLayout>
                    <GridLayout col="1" rows="*,*" class="columncontactos">
                        <Label row="0" text="Grace" class="label bold"></Label>
                        <Label row="1" text="&#xe914;" class="icon"></Label><Label row="1" text="Incoming" class="label textok"></Label>
                    </GridLayout>
                    <GridLayout col="2" rows="*" class="columncontactos">
                        <Label row="0" col="0" text="yesterday" class="label " textWrap="true" style="vertical-align:center; text-align: center; "></Label>
                        
                    </GridLayout>
                    <GridLayout col="3" rows="*" class="columncontactos">
                        <Label row="0" col="0" text="&#xea0c;" class="icon info" (tap)="onTap()"></Label>
                        
                    </GridLayout>
                </GridLayout>
   
</GridLayout>
