<ActionBar class="action-bar">
    <StackLayout class="action-bar-title">
        <Label text="Settings"></Label>
    </StackLayout>
</ActionBar>

<GridLayout class="page page-content messages-page-content" columns="*"  rows="*,*,*,*" width="100%" height="50%" >
    
    <StackLayout orientation="horizontal" height="50px;"   col='0' row='1'  >      
        <Label   text='Sip Username: ' style="color:#000000"></Label>
        <Label   [text]='username' style="color:#000000"></Label>          
    </StackLayout>
            
    <StackLayout orientation="horizontal" class="chat-item" height="100" col='0' row='2'  >
                <Label   text='Sip Password: ' style="color:#000000"></Label>
                <Label   [text]='password' style="color:#000000; font-weight: 600;"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" class="chat-item"  height="auto" col='0' row='3'  >
                <Label   text='Sip Proxy: ' style="color:#000000"></Label>
                <Label class="contact-text"  [text]="proxy"></Label>
    </StackLayout>
        
       
</GridLayout>